.singleTrack__audioBox {
  padding: 8rem 0;
}
.singleTrack__audioBox i {
  color: var(--yellowColor);
  font-size: 15rem;
  margin-bottom: 5rem;
}
.singleTrack__audioBox-trackName {
  color: var(--yellowColor);
  font-size: 4rem;
  margin-bottom: 2.5rem;
  font-weight: 100;
}
.singleTrack__audioBox-customAudio .progress {
  background-color: var(--yellowColor) !important;
  width: 50rem !important;
  margin-bottom: 2rem;
  border-radius: 0rem;
}
.singleTrack__audioBox-customAudio .progress-bar {
  background-color: var(--bgColor-light) !important;
}
.customAudio__playPause i {
  font-size: 5rem;
  padding-top: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.customAudio__options i {
  font-size: 1.75rem;
  color: var(--yellowColor);
  cursor: pointer;
  transition: all 0.3s ease;
}
.customAudio__options i:hover {
  opacity: 0.4;
}

@media only screen and (max-width: 760px) {
  .singleTrack__audioBox-customAudio .progress {
    width: 38rem !important;
  }
}
