.home {
  min-height: 100vh;
  max-height: auto;
  background-color: var(--bgColor-light);
  /* padding: 5rem 0; */
}
.customCard {
  background-color: var(--bgColor);
  color: var(--yellowColor);
  border-radius: 0.5rem;
  padding: 1rem 0rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.8rem 0.3rem 3rem rgba(0, 0, 0, 0.327);
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
.customCard:hover {
  opacity: 0.6;
}
.customCard img {
  height: 20rem !important;
  width: 20rem !important;
  object-fit: contain;
  object-position: center;
  /* border-radius: 3rem !important; */
  margin: 2rem 0;
  /* margin-top: 0; */
}
.customCard .customCard__name {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}
.customCard__number {
  position: absolute;
  font-size: 6rem;
  right: 3%;
  bottom: 5%;
  font-weight: 900;
  opacity: 0.1;
  z-index: 0;
}
.customCard span {
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.8;
}

/* HANDLE: search */
.home__search-input {
  outline: none;
  background-color: var(--yellowColor);
  border: none;
  padding: 1rem 2rem !important;
  border-radius: 0.5rem;
}
.home__search-select {
  padding: 01rem 0.9rem;
  outline: none;
  background-color: var(--bgColor);
  font-size: 1.4rem;
  color: var(--yellowColor);
  border: 0.1rem solid var(--yellowColor);
  margin-right: 0.5rem;
  appearance: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}
datalist option {
  width: 100%;
}
