/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
html {
  font-size: 10px;
}
body {
  font-family: "Mulish";
}
:root {
  --bgColor: #292d58;
  --bgColor-light: #2d3261;
  --yellowColor: #fbca56;
  --greenColor: #398579;
  --pinkColor: #f2c8bf;
}
p {
  font-size: 1.6rem;
}
