.customNav {
  background-color: var(--yellowColor);
  padding: 2.5rem 0 !important;
  /* border-bottom: 1rem solid var(--yellowColor); */
  position: relative;
  width: 100vw;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.collapse,
.navbar-collapse {
  z-index: 10 !important;
  height: 25rem !important;
  width: 100% !important;
  background-color: red;
}
/* nav > * {
  z-index: 10 !important;
} */
.customNav__logo {
  color: var(--bgColor);
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: 0rem;
}
.customNav__logo button {
  color: var(--bgColor) !important;
  cursor: pointer;
  z-index: 10 !important;
  background-color: var(--bgColor) !important;
}
.customNav__logo-link {
  text-decoration: none;
  color: var(--bgColor);
}

.customNav__logo-link:hover {
  color: var(--bgColor);
}

.customNav__logo-img {
  width: 3rem !important;
  margin: 0 !important;
  padding: 0 !important;
}

.customBtn {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.primaryBtn {
  background-color: var(--bgColor);
  color: var(--yellowColor);
}
.primaryBtn:hover {
  color: var(--bgColor);
  background-color: var(--yellowColor);
}
.secondaryCustomBtn {
  background-color: var(--yellowColor);
  color: var(--bgColor);
}
.secondaryCustomBtn:hover {
  background-color: var(--bgColor);
  color: var(--yellowColor);
}
.nav__login-link {
  text-decoration: none;
  color: var(--yellowColor);
}

.nav__login-link:hover {
  background-color: var(--yellowColor);
  color: var(--bgColor);
}

.customNav .menu {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  max-height: auto;
  z-index: 15;
  background-color: var(--bgColor);
  display: block;
  transition: all 0.4s ease;
}
.customNav .menu::-webkit-scrollbar {
  display: none;
}
.customNav .menu i {
  position: absolute !important;
  font-size: 4rem;
  color: white;
  /* right: 20%; */
  left: 90%;
  top: 10%;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}
.customNav .menu i:hover {
  transform: rotate(90deg);
}
.customNav .menu ul {
  list-style: none;
  text-align: center;
  font-weight: lighter;
}
.customNav .menu ul li {
  text-decoration: none;
  cursor: pointer;
}
.customName__menu-link {
  font-size: 4.6rem;
  margin-bottom: 1.5rem;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid transparent;
  transition: all 0.3s ease;
}

.customName__menu-link:hover {
  border-bottom: 0.1rem solid var(--yellowColor);
  color: var(--yellowColor);
}

.close-Menu {
  top: -100vh !important;
  display: none !important;
}
.customNav__menu-open {
  cursor: pointer;
  transition: all 0.3s ease;
  top: 0;
  display: block;
}
.customNav__menu-open:hover {
  transform: scale(1.2);
}
